:root {
  --primary: #4764af;
  --secondary: #ff7f00;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%
}

#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

.center {
    text-align: center;
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input[type="checkbox"] {
    position: absolute;
    top: 15px;
    display: block;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #418aca;
    outline-width: 0
}

#msform .action-button {
    align-content: center;
    width: 100px;
    background: var(--primary);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 40px 0px 10px 5px;
}

.next {
    display: none;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #418aca
}


.steps {
    color: rgb(44, 44, 44);
    margin: 0px 0px 1rem;
    flex: 1 1 auto;
    padding-top: 1rem;
    white-space: nowrap;
    max-width: calc(100vw - 8rem);
}

.form-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: start;
    width: 100%;
    height: min-content;
    margin-top: 1rem;
}


.previous:active,
.previous:focus,
.previous:hover {
    outline: 0px;
    color: #418aca;
}

.previous:first-of-type {
    margin-left: -0.75rem;
}

.previous,
.close {
    all: unset;
    text-align: center;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    color: #418aca;
    cursor: pointer;
    flex: 0 0 3rem;
}

.previous,
.close svg {
    fill: #418aca;
    transform: translateY(0.125rem);
}

.previous {
    display: none;
}

.progress {
    height: 3px;

}

.progress-bar {
    background-color: var(--primary);
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.card-block {
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid lightgrey;
    /* padding: 20px; */
    border-radius: 5px !important;
    background-color: #FAFAFA;

}

.radio {
    display: inline-block;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.radio:hover {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

/*.fa-check {
    color: var(--primary);
    border-radius: 50%;
    border: 2px solid var(--primary);
    padding: 2px;
    display:  none;
  
}*/

.pic,
.pic-0 {
    height: 80px;
    width: 80px;
    margin-top: -38px;
}

.pic {
    margin-top: 30px;
    margin-bottom: 20px;
}


.checkbox:checked~.card {
    border: 1px solid var(--primary) !important;
    box-shadow: 0 0 0.5rem var(--primary) !important
}  

.checked {
    color: var(--secondary);
}

.unchecked {
    color: lightgrey;
}
.fa-check-circle {
    display: none;
}

.checkbox:checked~.card .unchecked {
    display: none;
}

.checkbox:checked~.card .checked  {
    display: inline-block;
}


.label-checkbox {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.boder-blue {
    border: 2px solid blue !important;
}

.validation_card {
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
}

/* Sectionx */

.row {
    display: flex !important;
    justify-content: center !important;
}

/* CATEGORIE */
.choice {
    display: flex;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

/*#choix_objectif {
    display: none;
}*/

/* LISTE CHOIX PROJET */

#new_site_choice,
#design_site_choice,
#list_goal_choice,
#list_help_choice,
#list_goal_choice,
#list_cible_choice,
#list_content_choice {
    display: none;
    /* justify-content: center;
    flex-wrap: wrap; */
}

.question {
    text-align: left;
    /* margin-left: 100px; */
    margin: 10px 0px 25px 100px;
}

/* card */

.card_choice {
    width: 165px !important;
    height: 165px !important;
    margin: 10px 10px;
    cursor: pointer;
    background-color: var(--primary) !important;
    box-shadow: 0 0.5rem 1rem lightgray !important;
    transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
}

.card_choices {
    background-color: white !important;
    border: 1px solid lightgrey !important;

}

.card_choices:hover {
    box-shadow: 0 0 0.5rem var(--primary) !important
}

.card_choices p {
    color: inherit !important;

}

.card_choice p {
    color: white;
}

.card-body p {
    font-size: 16px !important;
    padding: -20px;
    text-align: center;
}

.card-body {
    padding: 1rem 0rem 0rem 0rem !important;
}

.card {
    z-index: 0;
    border: none;
    position: relative;

}

.card img {
    padding-top: 10px;
}

.card p .fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.card-text {
    font-size: 16px;
    text-align: center;
    color: black;
}

.choix_card:hover {
    box-shadow: 0 1rem 3rem lightgrey;
    /* width: 180px !important;
    height: 180px !important; */
}

.row-choices {
    padding-left: 200px;
    padding-right: 200px;
}


.icon-check {
    width: 15%;
    z-index: 1;
}

#icon-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 15px 0px;
    z-index: 1;
    justify-content: start;
    cursor: pointer;
    margin-top: auto;
}



.icon-item {
    position: relative;
    margin: 0 20px;
    width: 60px;
    height: 60px;
    box-shadow: 0 0.5rem 1rem lightgrey;
    transition: .5s ease;
    background-color: var(--primary);
    display: none;
}

#icon-bar> :first-of-type {
    margin-left: 0px;
}

#icon-bar> :lastt-of-type {
    margin-right: 0px;
}

.icon-item img {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

/* Début Menu estimation */

.menu h2 {
    color: white;
    background-color: #418ACA;
    text-align: center;
    font-size: 20px;
    line-height: 38px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.menu-estimation {
    top: 80px;
    bottom: auto;
    position: absolute;
    width: 180px;
    min-width: 120px;
    background-color: #f0f0f0;
}

.list-item {
    list-style: none;
    cursor: pointer;
    padding-bottom: 10px;
    color: gray;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    background-color: transparent;

}

#nav-list {
    padding-left: .5rem;
}

#nav-list .fa-check-circle {
    color: var(--primary);
    margin-right: 10px;
    font-size: 1.2rem;
    transition: .5s ease;
}

/* .fa-circle {
    color: #fafafa;
    border-radius: 50%;
    border: 2px solid #bdbdbd;
    margin-right: 10px;
} */

/* Fin Menu estimation */

/* Start Alert delete project */

.alert {
    max-width: 40rem;
    margin-top: 1rem;
    position: fixed;
    background: rgb(249, 248, 246);
    padding: 1rem;
    top: 50%;
    left: 50%;
    width: 640px;
    height: auto;
    transform: translate(-50%, -50%);
}

.css_alert_delete_project {
    text-align: center;
    isolation: isolate;
    padding-bottom: 2rem;
    text-align: -webkit-center;
    
}

.css_background_alert {
    display: none;
    background-color: rgba(44, 44, 44, 0.3);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 999;
    visibility: visible;
    opacity: 1;
}

.css_alert_delete_project h2 {

    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

.css_alert_delete_project .delete_project {
    color: rgb(255, 255, 255);
    background-color: #418ACA;
    margin: 4rem 0 1rem;   
}

.css_alert_delete_project .continue_creating {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 163, 97);
    margin: 1rem 0px;  
}

.css_bouton {
    width: 300px;
    height: 56px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 3.125rem;
    border: 0;
    font-size: 15px;
    font-family: "Moderat-Bold","Helvetica Neue",Arial,sans-serif;
}
.btn-close:focus {
    box-shadow: 0 0 0 0
}








    


/* End Alert delete project */



[tooltip] {
position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
text-transform: none; /* opinion 2 */
font-size: .7em; /* opinion 3 */
line-height: 1;
user-select: none;
pointer-events: none;
position: absolute;
display: none;
opacity: 0;
}
[tooltip]::before {
content: '';
border: 5px solid transparent; /* opinion 4 */
z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
content: attr(tooltip); /* magic! */

/* most of the rest of this is opinion */
font-family: Helvetica, sans-serif;
text-align: center;

/* 
Let the content set the size of the tooltips 
but this will also keep them from being obnoxious
*/
min-width: 3em;
max-width: 200em;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
padding: 1ch 1.5ch;
border-radius: .3ch;
box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
background: #c2d4e5;
border: 2px solid var(--primary);
/* height: 50px; */
padding: 15px;
/* text-align:start; */
color:black;
z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
display: none !important;
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
top: 50%;
border-right-width: 0;
border-left-color: #333;
left: calc(0em - 5px);
transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
top: 50%;
right: calc(100% + 5px);
transform: translate(-.5em, -50%);
}
/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
  }
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }
 [tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}
/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }
/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}
  

/* KEYFRAMES */
@keyframes tooltips-vert {
to {
opacity: .9;
transform: translate(-50%, 0);
}
}

@keyframes tooltips-horz {
to {
opacity: .9;
transform: translate(0, -50%);
}
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
animation: tooltips-horz 300ms ease-out forwards;
}
/* UNRELATED to tooltips */

.choixx {
    position: relative;
}
